@charset "utf-8";

html{scroll-behavior:smooth;}

body{margin:0;}

main{
max-width:800px;
margin:40px auto;
}

#menu{
width:100%;
display:flex;
justify-content:center;
position:fixed;
top:0;
background-color:crimson;
}

#menu a{
height:30px;
margin:10px;
font-size:18px;
text-decoration:none;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: normal;
color:white;
}

#menu a:hover{color:wheat;}

section{padding:30px;}

.arvo-regular {
  font-family: "Arvo", serif;
  font-weight: 700;
  font-style: normal;
}





